  body {
    background-color: grey;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: blue;
    border-width: 5px;
    width: 6%;
  }

  h1 {
    color: #eca3f5;
  }
  h3 {
    color: #eca3f5;
  }
